<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tailwind Kitchen Sink</title>
        <link rel="stylesheet" href="assets/style.css" />
    </head>
    <body>
        <section class="mt-16 text-white">
            <div class="container mx-auto px-4">
                <h1 class="text-4xl font-bold">Table of Contents</h1>

                <ul class="flex flex-col gap-4 text-lg mt-12">
                    <li><a href="buttons/">Buttons</a></li>
                    <li><a href="container/">Container</a></li>
                    <li><a href="navbar/">Navbar</a></li>
                </ul>
            </div>
        </section>
    </body>
</html>
