---
import { BackButton } from "../components";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title ?? "Tailwind Kitchen Sink"}</title>

        <link rel="stylesheet" href="/kitchen-sink/assets/style.css" />
    </head>
    <body>
        <div class="container mx-auto w-full mt-20 px-4">
            <div class="mb-20">
                <BackButton />
            </div>

            <slot />
        </div>

        <script is:inline src="https://unpkg.com/shiki"></script>
        <script is:inline src="/kitchen-sink/assets/script.js"></script>
    </body>
</html>
